[Data]
file_path = data/train_data.csv
feature_cols = 0, 1, 2
label_col = 3

[PSO]
n_iterations = 50 
inertia_weight = 1.1
c1 = 2 
c2 = 2


[SVR]
kernel = rbf
epsilon = 1 
C_min = 1
C_max = 200 
C_step = 20
gamma_min = 0.01
gamma_max = 2
gamma_step = 0.2


[Validation]
type = k-fold
n_validations = 10 
validation_size = 0.1

[Model]
save_path = svr_model.pickle
